<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form action="" class="form">
            <div class="form-group">
                <div class="input-group">
                    <!--input class="form-control" type="text" placeholder="Digita il nome di una città...."  ng-model="city" >
                    <div class="input-group-addon"><i class="fa fa-search" style="cursor: pointer" title="Avvia la ricerca" ng-click="searchCrimes()"></i>
                    </div-->
                    <input type="text" class="form-control" id="search_box" placeholder="Digita il nome di una città"
                           ng-autocomplete ng-model="search.result" details="search.details" options="search.options" >

                    {{search.details.geometry.location}}

                <span class="input-group-btn">
                    <button class="btn btn-defaultn greenBotton" type="submit" ng-click="searchCrimes()"><span
                            class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Filtra per crimine
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 1
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 2
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 3
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 4
                                </label>
                            </div>
                        </div>
                        Bari
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 5
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 6
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 7
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 8
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 9
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 10
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 111
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Crimine 12
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <legend>Periodo di interesse</legend>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <google-map center="map.center" zoom="map.zoom" draggable="true">
            <markers models="markers" coords="'self'" doCluster=true click="'onClicked'">
            </markers>
        </google-map>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        prova2
    </div>

</div>
