<div class="jumbotron">
  <h2>Vivi Responsabilmente!</h2>
  <p class="lead">
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    Sei davvero sicuro di conoscere la tua città?
  </p>
    <h3>Tutte le notizie di cronaca e i fatti criminali in un unico portale </h3>
  <p><a class="btn btn-info" ng-href="#">Scoprilo!</a></p>
</div>

<div class="row marketing">
    <div class="col-md-4">
        <h2>Ultime News</h2>
        <p> Le ultime news di WhereToLive</p>
        <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Furti a Bari</h2>
        <p>Esempio di interrogazione per vedere news che parlano di furti a bari</p>
        <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mappa del Crimine</h2>
        <p>Vedi la mappa del crimine e della cronaca elaborata di WhereToLive</p>
        <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>
