<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 scrollit">
        <section class="post">
            <header class="entry-header row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                    <h2 class="entry-title"><a href="single.html">Botte da orbi in Via Don Bosco, nei guai 32enne</a></h2>
                    <p class="entry-meta">
                        Posted on <a class="entry-date" href="date.html">July 19, 2013</a> | By <a class="entry-author" href="author.html">Giornale Web</a> | Tags <a class="label label-danger" href="tag.html">CSS3</a>
                    </p>
                </div>
            </header>
            <div class="entry-description">
                <p>
                    LECCE - Se le stavano dando di santa ragione, ma per fortuna qualcuno ha chiamato i poliziotti, che prontamente intervenuti, li hanno bloccati e denunciato a piede libero per rissa, detenzione...
                </p>
            </div>
        </section> <!-- /.post -->

        <section class="post">
            <header class="entry-header">
                <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
                <h2 class="entry-title"><a href="single.html">FAbiana è stata qui</a></h2>
                <p class="entry-meta">
                    Posted on <a class="entry-date" href="date.html">July 8, 2013</a> | By <a class="entry-author" href="author.html">Paul Laros</a> | Tags <a class="label label-primary" href="tag.html">HTML5</a>
                </p>
            </header>
            <div class="entry-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </section> <!-- /.post -->

        <section class="post">
            <header class="entry-header">
                <img class="entry-avatar" alt="Paul Laros" height="52" width="52" src="http://www.gravatar.com/avatar/ea67e860739cd91fe40b6797e97e6820.jpg?s=52">
                <h2 class="entry-title"><a href="single.html">Why should designers learn how to code</a></h2>
                <p class="entry-meta">
                    Posted on <a class="entry-date" href="date.html">July 2, 2013</a> | By <a class="entry-author" href="author.html">Paul Laros</a> | Tags <a class="label label-primary" href="tag.html">HTML5</a>
                </p>
            </header>
            <div class="entry-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </section>
        <section class="post">
            <header class="entry-header row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                    <h2 class="entry-title"><a href="single.html">Botte da orbi in Via Don Bosco, nei guai 32enne</a></h2>
                    <p class="entry-meta">
                        Posted on <a class="entry-date" href="date.html">July 19, 2013</a> | By <a class="entry-author" href="author.html">Giornale Web</a> | Tags <a class="label label-danger" href="tag.html">CSS3</a>
                    </p>
                </div>
            </header>
            <div class="entry-description">
                <p>
                    LECCE - Se le stavano dando di santa ragione, ma per fortuna qualcuno ha chiamato i poliziotti, che prontamente intervenuti, li hanno bloccati e denunciato a piede libero per rissa, detenzione...
                </p>
            </div>
        </section> <!-- /.post -->

        <section class="post">
            <header class="entry-header">
                <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
                <h2 class="entry-title"><a href="single.html">Just another Bootstrap theme</a></h2>
                <p class="entry-meta">
                    Posted on <a class="entry-date" href="date.html">July 8, 2013</a> | By <a class="entry-author" href="author.html">Paul Laros</a> | Tags <a class="label label-primary" href="tag.html">HTML5</a>
                </p>
            </header>
            <div class="entry-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </section> <!-- /.post -->

        <section class="post">
            <header class="entry-header">
                <img class="entry-avatar" alt="Paul Laros" height="52" width="52" src="http://www.gravatar.com/avatar/ea67e860739cd91fe40b6797e97e6820.jpg?s=52">
                <h2 class="entry-title"><a href="single.html">Why should designers learn how to code</a></h2>
                <p class="entry-meta">
                    Posted on <a class="entry-date" href="date.html">July 2, 2013</a> | By <a class="entry-author" href="author.html">Paul Laros</a> | Tags <a class="label label-primary" href="tag.html">HTML5</a>
                </p>
            </header>
            <div class="entry-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </section>
        <section class="post">
            <header class="entry-header row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                    <h2 class="entry-title"><a href="single.html">Botte da orbi in Via Don Bosco, nei guai 32enne</a></h2>
                    <p class="entry-meta">
                        Posted on <a class="entry-date" href="date.html">July 19, 2013</a> | By <a class="entry-author" href="author.html">Giornale Web</a> | Tags <a class="label label-danger" href="tag.html">CSS3</a>
                    </p>
                </div>
            </header>
            <div class="entry-description">
                <p>
                    LECCE - Se le stavano dando di santa ragione, ma per fortuna qualcuno ha chiamato i poliziotti, che prontamente intervenuti, li hanno bloccati e denunciato a piede libero per rissa, detenzione...
                </p>
            </div>
        </section> <!-- /.post -->

        <section class="post">
            <header class="entry-header">
                <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
                <h2 class="entry-title"><a href="single.html">Just another Bootstrap theme</a></h2>
                <p class="entry-meta">
                    Posted on <a class="entry-date" href="date.html">July 8, 2013</a> | By <a class="entry-author" href="author.html">Paul Laros</a> | Tags <a class="label label-primary" href="tag.html">HTML5</a>
                </p>
            </header>
            <div class="entry-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </section> <!-- /.post -->

        <section class="post">
            <header class="entry-header">
                <img class="entry-avatar" alt="Paul Laros" height="52" width="52" src="http://www.gravatar.com/avatar/ea67e860739cd91fe40b6797e97e6820.jpg?s=52">
                <h2 class="entry-title"><a href="single.html">Why should designers learn how to code</a></h2>
                <p class="entry-meta">
                    Posted on <a class="entry-date" href="date.html">July 2, 2013</a> | By <a class="entry-author" href="author.html">Paul Laros</a> | Tags <a class="label label-primary" href="tag.html">HTML5</a>
                </p>
            </header>
            <div class="entry-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </section>
        <div class="row row-centered">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-lg-6 fixed" style="padding-top: 15px;">
            <google-map center="map.center" zoom="map.zoom" draggable="true"></google-map>
        </div>
    </div>
</div>
<span id="top-link-block" class="row">
  <a href="#top" class="well well-sm" onclick="$('html,body, div.scrollit').animate({scrollTop:0},'slow');return false;">
    <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
  </a>
</span>
