<span data-ng-init="init()"></span>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 scrollit">
        <section class="post" ng-repeat="news in newsArray">
            <header class="entry-header row">
                <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
                </div-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="entry-title"><a href={{news._source.urlNews}} target="_blank">{{news._source.title}}</a></h3>
                    <p class="entry-meta">
                        Posted on <a class="entry-date" >{{news._source.date}}</a> | By <a class="entry-author" href={{news._source.urlWebsite}} target="_blank">{{getHostname(news._source.urlWebsite)}}</a>
                    </p>
                </div>
            </header>
            <div class="entry-description">
                <p class="text-justify">{{news._source.summary}} </p>
            </div>
        </section> <!-- /.post -->



        <div class="row row-centered">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-lg-6 fixed" style="padding-top: 15px;">
            <google-map center="map.center" zoom="map.zoom" draggable="true">
                <markers models="markers" coords="'self'" doCluster=true click="'onClicked'">
                </markers>
            </google-map>
        </div>
    </div>
</div>
<span id="top-link-block" class="row">
  <a href="#top" class="well well-sm" onclick="$('html,body, div.scrollit').animate({scrollTop:0},'slow');return false;">
    <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
  </a>
</span>
